[submodule "SoarOS"]
	path = SoarOS
	url = https://github.com/UCSOAR/SoarOperatingSystem.git
[submodule "AvionicsSoftware"]
	path = AvionicsSoftware
	url = https://github.com/StudentOrganisationForAerospaceResearch/AvionicsSoftware.git
